
<body class="new">
<h1 class="landing-header">Oh shit son, it's a drive-by!</h1>

<div class="video">
    <iframe width="800px" height="500px" src="https://www.youtube.com/embed/eynyQta9f78"       frameborder="0"></iframe>
</div>

<div class="create-shooting">
    <%= render 'form', shooting: @shooting %>  
</div>

  <p class="link-list">
    For all the gory details on Michael's previous bloody massacres please click -<%= link_to 'here', shootings_path %>. 
  </p>

    <p class="link-list">
        For a full list of Michael's victims, please click -<%= link_to 'here', victims_path %>
    </p>
</body>