
.victims-table h1{
    display: border-box;
    text-align: center;
    margin: 50px;
}
.totals {
    text-align: center;
}

.victims-table table {
    /* text-align: center; */
    margin: 0 auto;
    font-size: 18px;
}

.shootings-table h1{
    display: border-box;
    text-align: center;
    margin: 50px;
}

.shootings-table table {
    /* text-align: center; */
    margin: 0 auto;
    font-size: 18px;
}

.new-shooting-link {
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: border-box;
}

.new {
    background-color: rgb(232, 3, 3);
}


    .landing-header {
        font-size: 50px;
        display: flex;
        justify-content: center;
        margin: 70px;
        font-family: 'Permanent Marker', cursive;
    }

    .video {
        display: flex;
        justify-content: center;
    }

    .create-shooting {
        display: flex;
        justify-content: center;
    }

    .link-list {
        font-size: 20px;
        display: flex;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
    }


.shooting-button {
    font-size: 2em;
    width: 300px;
    height: 200px;
}

.show-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#paper-heading1 {
    width: 100%;
    margin-top: 60px;
    font-size: 80px;
    font-family: 'Cormorant Unicase', serif;
    display: flex;
    justify-content: center;

}
#paper-heading2 {
    width: 100%;
    margin-bottom: 60px;    
    font-size: 80px;
    font-family: 'Cormorant Unicase', serif;
    display: flex;
    justify-content: center;
}


.article {
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.8em;
    text-justify: newspaper;
}
